@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'NeueMachina';
    src: url('./navbar-font.ttf');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Gilroy';
    src: url('./buttons.ttf');
    font-weight: normal;
    font-style: normal;
  }

